

        body{
          background-color: #E3B7A0;
        }
          h1{
             color : #42C2FF;
             }
        h3{
            color :#E04DB0;
        }
        hr
          { background-color: #ACB992;
            border-style: none;
            border-top-style:dotted;
            border-color: white;
            border-width:5px;
            height: 0px;
            width: 5%;
        }
       img{
         height:200px;
        }

  
